{% extends 'main.html' %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="row w-100">
        <form class="card col-sm-12 col-md-7 m-auto" action="{% url 'generate-qr-paybill-url' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-header">
                <h3 class="text-center text-info">Generate QR Code For Your PayBill</h3>
            </div>
            <div class="card-body">
                <div id="div_id_business_name" class="form-group">
                    <label for="business_number" class=" requiredField">
                        Business number<span class="asteriskField">*</span>
                    </label>
                    <div>
                        <input type="number" name="business_number" maxlength="200" class="textinput form-control" required="" id="business_number">
                    </div>
                </div>
                <div id="div_id_business_name" class="form-group">
                    <label for="account_number" class=" requiredField">
                        Account number/name<span class="asteriskField">*</span>
                    </label>
                    <div>
                        <input type="text" name="account_number" maxlength="200" class="textinput form-control" required="" id="account_number">
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-success">Generate</button>
            </div>
        </form>
    </div>
{% endblock %}
