{% extends 'main.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="w-100 d-block">
        {% if photos %}
            {% for photo in photos %}
                <div class="pt-2">

                </div>
                <div class="card w-75 m-auto">
                    <div class="card-header d-flex">
                        <h4 class="w-50">Pay Bill</h4>
                        <h4 class="w-50 text-right">Business Number: {{ photo.business_number }}</h4>
                        <h4 class="w-50 text-right">Account Number/Name: {{ photo.account_number_or_name}}</h4>
                    </div>
                    <div class="card-body">
                        <img src="{% static '' %}{{ photo.photo }}" alt="">
                    </div>
                    <div class="card-footer">
                        <a href="" class="btn btn-info">Edit</a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="d-flex text-center w-100 mt-5">
            <a href="{% url 'generate-qr-paybill-url' %}" class="btn btn-info m-auto">Generate QR Code For New PayBill</a>
        </div>

    </div>
{% endblock %}